# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
.pytest_cache/
.mypy_cache/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE / Editor specific
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
.env
